*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
    scroll-behavior: smooth;  
}

#circle{
    z-index: 5;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: blue;
    mix-blend-mode: overlay;
    /* transform: translate(-20px, -20px); */
}

.container{
    z-index: 9;
    background-color: black;
}

.menu{
    /* background-color: #ff4a2a; */
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 30px 0px 50px;

}

.menu2{
    /* background-color: #ffdc15; */
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 30px 0px 50px;
}

.menu3{
    /* background-color: #ff2626; */
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 30px 30px 50px;
}

.menuitems{
    height: 90%;
    flex-grow: 1;
    flex-shrink: 1;
    -webkit-text-stroke: white;
    -webkit-text-stroke-width: 1px;
    background-color: black;
    margin-right: 25px;
    font-size: 36px;
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;  
    transition: flex-grow .7s;
}

.menuitems2 {
    color: white;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 1px;
    height: 90%;
    flex-grow: 5;
    flex-shrink: 1;
    flex-basis: auto;
    background-color: white;
    margin-right: 25px;
    font-size: 36px;
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;   
    transition: flex-grow .7s;
    opacity: 70%;
}

#menuitem1{
    background-image: url("img/1.jpg");
    background-size: cover;
}

#menuitem2{
    background-image: url("img/2.jpg");
    background-size: cover;
}

#menuitem3{
    background-image: url("img/3.jpg");
    background-size: cover;
}

#menuitem4{
    background-image: url("img/4.jpg");
    background-size: cover;
}

#menuitem5{
    background-image: url("img/5.jpg");
    background-size: cover;
}

#menuitem6{
    background-image: url("img/6.jpg");
    background-size: cover;
}

#menuitem7{
    background-image: url("img/7.jpg");
    background-size: cover;
}

#menuitem8{
    background-image: url("img/8.jpg");
    background-size: cover;
}

#menuitem9{
    background-image: url("img/9.jpg");
    background-size: cover;
}

#menuitem10{
    background-image: url("img/10.jpg");
    background-size: cover;
}

#menuitem11{
    background-image: url("img/11.jpg");
    background-size: cover;
}

#menuitem12{
    background-image: url("img/12.jpg");
    background-size: cover;
}

p{
    color: rgb(255, 180, 17);
    font-size: 64px;
}

/* background-image: linear-gradient(red, yellow, blue); */


